.CardProducts{
    
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    background-color: rgba(222, 184, 135, 0.471);
     position: relative;
     
  
  }
  
 
  .CardProducts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding-left: 70px;
    padding-top: 100px;
  }